@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
    --primary-color: black;
    --font-color: white;
}

body {
    font-family: 'Righteous', cursive;
    color: var(--font-color);
    margin: 0;
    text-align: center;
}

h1 {
    background-color: black;
    margin: 0;
    text-align: center;
    padding: 1rem;
}

img {
    max-width: 300px;
    display: block;
    margin: auto;
    margin-top: 1rem;
}

textarea {
    width: 50%;
    height: 20vh;
    display: block;
    margin: auto;
    margin-top: 1rem;
    font-size: 1.5rem;
    padding: 1rem;
    border: solid black 1px;
}

button {
    text-align: center;
    background-color: var(--primary-color);
    color: var(--font-color);
    padding: 0.5rem;
    width: 20%;
    font-size: large;
    font-family: 'Righteous', cursive;
    margin: 1rem;
}

#output {
    width: 50%;
    margin: auto;
    height: 20vh;
    font-size: 1.5rem;
    padding: 1rem;
    border: solid black 1px;
    margin-bottom: 1rem;
    color: var(--primary-color);
    text-align: left;
}

footer {
    background-color: var(--primary-color);
    padding: 1rem;
}